<header class="site-header" role="banner">

  <a id="darkside" style="color: #fafafa;text-decoration: none; position:absolute; top:0px;right:0px" href="darkside.html" title="this is not the blog you are looking for">cqncpdp</a>
  <a href="{{ site.baseurl }}/index.html" style="text-decoration: none;"><div id="titre">Arthur Garreau</div></a>
  <!--<div id="legende">Welcome to my website !</b></div>-->
  <div id="socialnetworks"><!--
    --><span class="inlinetoblock"><b>{</b> Engineer (soon), Developer, AI enthusiast, I like to build stuff <b>}</b></span><!--
    --><a class="snl" href="https://twitter.com/garreauarthur"><i class="fa fa-twitter" aria-hidden="true"></i></a><!--
    --><a class="snl" href="https://www.instagram.com/cqncpdp/"><i class="fa fa-instagram" aria-hidden="true"></i></a><!-- insta
    --><a class="snl" href="https://github.com/garreauarthur"><i class="fa fa-github" aria-hidden="true"></i></a><!-- github
    --><!--
  --></div>

</header>
